body{
    font-family:  Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(101, 101, 209);
    color: white;
    padding: 20px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
.close-header{
    position: absolute;
    right: 20px;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.card{
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 25px;
    padding: 20px;
}
.card img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.card h3{
margin: 10px 0;
font-size: 18px;
}
.badge{
    background-color: #756a6a;
    color:#ffffff;
    border-radius: 5px;
   padding: 5px 10px;
}
.card p{
margin: 20px 0;
color: grey;
font-size: 13px;
}
.card button{
    background-color: rgb(101, 101, 209);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 7px;
    margin:5px;
    cursor: pointer;
}
.card button.guide{
    background-color: rgb(255, 255, 255);
    color: grey;
    border: 2px solid gray;
}